In [1]:
#Write a Python program to print the sum of the series 1/2+1/3+1/4+ ... +1/N. Where N is
#natural number.

In [5]:
N=int(input("Enter N value "))
sum_of_series=0
for i in range(2,N+1):
    sum_of_series+=(1/(i))
print(sum_of_series)

Enter N value 5
1.2833333333333332

In [7]:
#Write a Python program that prompts user to enter numbers. 
#The process will repeat until user enters 0. 
#Finally, the program prints sum of the numbers entered by the user.

In [13]:
count=0
while True:
    a=int(input())
    count+=a
    if a==0:
        break
print(count)

2
4
5
4
6
8
0
29

In [14]:
#Write a Python program to print all the numbers from 1 to 1000 that are not divisible by
#2, 3, 5, 7, 11, 13, 17 and 19.

In [17]:
for i in range(1,1001):
    if i%2!= 0 and i%3!= 0 and i%5!= 0 and i%7!= 0 and i%11!= 0 and i%13!= 0 and i%17!= 0 and i%19!= 0:
        print(i,end=' ')

1 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499 503 509 521 523 529 541 547 557 563 569 571 577 587 593 599 601 607 613 617 619 631 641 643 647 653 659 661 667 673 677 683 691 701 709 713 719 727 733 739 743 751 757 761 769 773 787 797 809 811 821 823 827 829 839 841 851 853 857 859 863 877 881 883 887 899 907 911 919 929 937 941 943 947 953 961 967 971 977 983 989 991 997

In [18]:
#Write a Python program to find HCF (GCD) of two numbers.

In [20]:
a = int(input("Enter the first number : "))
b = int(input("Enter the second number : "))
for i in range(1,a+1):
    if a%i==0:
        for j in range(1,b+1):
            if b%j==0:
                if j==i:
                    hcf=j
print(hcf)

Enter the first number : 12
Enter the second number : 24
12

In [3]:
#Write a Python program to check whether a number is Armstrong number or not.
num = int(input("Enter a number : "))
t=num
sum=0
while t>0:
    a = t%10
    sum += a**3
    t //=10
if sum==num:
    print("Armstrong Number")
else:
    print("Not an Armstrong number")

Enter a number : 407
Armstrong Number

In [4]:
n = int(input("Enter the number : "))

temp=n
count=0
while temp>0:
    temp//=10
    count+=1
count = count - 1
last=n%10
first = n//(10**count)
new=(n//10)*10+first
rev = (new%(10**count))+(last*(10**count))
print("After swapping 1st and last digit : ",rev)

Enter the number : 12445
After swapping 1st and last digit :  52441

In [5]:
num = int(input("Enter the number : "))
sum=0
temp=num

while temp>0:
    digit = temp% 10
    sum += digit **4
    temp //= 10
if num == sum:
    print("Armstrong")

else:
    print("Not Armstrong")

Enter the number : 977
Not Armstrong

In [6]:
#Write a Python program for printing prime numbers up to N

In [10]:
N=int(input("Enter N value : "))
print("The prime number up to",N)
for i in range(1,N+1):
    count=0
    for j in range(1,1+i):
        if i%j==0:
            count+=1
    if count==2:
        print(i,end=" ")

Enter N value : 150
The prime number up to 150
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149

In [1]:
#Write a Python program to construct the following pattern, using a nested for loop.

In [2]:
for i in range (5):
    for j in range(i):
        print("* ", end=" ")
    print()
    
for i in range (5,0,-1):
    for j in range(i):
        print("* ", end=" ")
    print()

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [5]:
for i in range (1,5):
    for j in range(1,5):
        if (i+j)%2==0:
             print("1\t",end="")
        else :
            print("0\t",end="")

    print()

1	0	1	0
0	1	0	1
1	0	1	0
0	1	0	1

# functions in python

### function  is a block of code which is executed when it is called
### you can pass data, known as parameters into functions
### function return data as result
### two types of functions
    #inbuilt functions
    #user defined functions

In [1]:
def iseven(n):
    if n%2==0:
        print(n,"is even")
    else:
        print(n,"is not even")

In [2]:
def add(x,y):
    return x+y
add(2,3)+5 #default args

10

In [3]:
# syntax def function_name(param):
#            statement1
#            statement2
#            ..
# function calling: function_name(args)

In [4]:
add(4,y=10) # keyword args

14

In [5]:
def months(*n):
    for i in n:
        print(i)
months("jan","feb","march","april") #arbitary args

jan
feb
march
april

In [6]:
def multiply(**numbers):
    return numbers["a"]*numbers["b"]*numbers["c"]

In [7]:
multiply(a=12,b=10,c=2)

240

In [8]:
# Define a function to find sum of all odd numbers between 1 to n.

In [11]:
n = int(input("Enter the n Value : "))
Oddsum = 0

for number in range(1, n+1):
    if(number %2!= 0):
        print("{0}".format(number))
        Oddsum = Oddsum + number

print("The Sum of Odd Numbers from 1 to {0} = {1}".format(number, Oddsum))

Enter the n Value : 100
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
The Sum of Odd Numbers from 1 to 100 = 2500

In [12]:
def oddsum(n):
    add=0
    for i in range(1,n):
        if i%2!=0:
            add+=i
    print("The sum of all odd numbers between 1 to",n)
    return add
n=int(input("Enter n value :"))
oddsum(n)

Enter n value :100
The sum of all odd numbers between 1 to 100

2500

In [13]:
#Define a function to check whether a number is palindrome or not.

In [17]:
def palindrome(n):
    temp=n
    rev=0
    while temp>0:
        rev=rev*10+temp%10
        temp//=10
    if rev==n:
        print(n,"is a palindrome")
    else:
        print(n,"is not a palindrome")
n=int(input("Enter a number :"))
palindrome(n)

Enter a number :1001
1001 is a palindrome

In [19]:
n=int(input("Enter number:"))
temp=n
rev=0
while n>0:
    rev=rev*10+n%10
    n=n//10
if(temp==rev):
    print("The number is a palindrome")
else:
    print("The number isn't a palindrome")

Enter number:1221
The number is a palindrome

In [20]:
#Define a function to calculate the area of a circle using the formula.

In [24]:
def circle(r):
    area=3.14*r**2
    print(area,"is the area of given circle")
r=int(input("radius: "))
circle(r)

radius: 4
50.24 is the area of given circle

In [2]:
def isperfect(n):
    sum=0
    for i in range(1,n):
        if n%i==0:
            sum=sum+i
    if sum==n:
        print("The number is perfect ")
    else:
        print("The number is not perfect number")
        
n=int(input("Enter number: "))
isperfect(n)

Enter number: 23
The number is not perfect number

In [4]:
def table(n):
    for i in range(1,11):
        print(n,"*",i,"=",n*i)
n=int(input("Enter the number :"))
table(n)

Enter the number :6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60